/*==================================================
                common css start
==================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  transition: all linear 0.3s;
  color: #001a21;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
p {
  font-weight: 200;
}

:root {
  --primary-color: #001a21;
  --primary-color2: #00a7ff;
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
}

body {
  scroll-behavior: smooth;
}

.primary_button {
  background-color: var(--primary-color2);
  border: none;
  background-color: none;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all linear 0.4s;
  color: white;
}
.primary_button a {
  color: white;
  transition: all linear 0.4s;
}
.primary_button:hover {
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
}

/*==================================================
                bootstraph css modify
==================================================*/
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 85%;
}
.navbar-collapse {
  flex-grow: 0;
}

/*==================================================
                NAbbar css start
==================================================*/
.navbar {
  padding: 18px 0;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(245, 240, 245, 0.57);
  -moz-box-shadow: 0px 4px 5px 0px rgba(245, 240, 245, 0.57);
  box-shadow: 0px 4px 5px 0px rgba(245, 240, 245, 0.57);
}
.navbar .navbar-brand img {
  width: 80%;
}
.navbar .left_gap {
  margin-left: 90px;
}
.navbar .navbar-nav {
  gap: 32px;
}
/*==================================================
                  banner css start
  ==================================================*/
